/* Custom Properties*/

:root {    
  
  --h1-color: #ff3978;
  --h2-color: #f4759d;
  --h3-color: #fe4f87;
  --h4-color: #22ffcb;
  --p-color: #fff;
  --icons-color:#93fce3;
  --background-section: #000a0f; 
  --background-p: #000e15;
  --background-footer: #333; 
}  

/* Header */ 

.banner-container {  
  position: relative;  
} 

.banner {  
  width: 100%;   
  height: 300px;  
  display: flex;   
  justify-content: center;   
  align-items: center;  
}

nav {  
  position: absolute; 
  font-family: 'Orbitron'; 
  bottom: 1;
  width: 100%;  
  z-index: 10;  
  display: flex;  
  padding: 8px; 
  justify-content: center;  
  background-color: rgba(0, 0, 0, 0.4);   
  transition: top 0.3s; 
} 

nav.sticky {  
  position: fixed;
  top: 0; 
  margin:auto; 
  background-color: rgba(0, 0, 0, 0.7);   
} 

nav ul {  
  display: flex;  
  padding: 0;  
  margin: 0;  
}  

nav li {  
  margin-left: 30px;  
}  

nav a {  
  color: #fff;  
  padding: 8px 12px; 
  border-radius: 4px;  
  font-weight: bold; 
  position: relative;
  transition: background-color 0.3s ease, color 0.3s ease;
}  

nav a::before {  
  content: attr(data-text);  
  position: absolute;  
  left: 0;   
  top: 0;  
  color: transparent;  
  text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000;
  z-index: -1; 
}  

nav a:hover {  
  background-color: #22ffcb68; 
  color: #fff; 
}  

/* Estilos globales */  
body {  
  display: flex;
  flex-direction: column;
  margin: 0; 
  padding: 0;
  height: 100vh; 
  background-image: url('../public/images/background.png'); 
  background-size: cover;   
  background-position: center;  
  background-repeat: no-repeat; 
  background-attachment: fixed;   
  font-family: 'tektur', sans-serif;   
}   

/* Estilos generales para todas las secciones */  
section {  
  margin: 40px; 
  padding: 30px;   
  background-color: var(--background-section);  
  border-radius: 15px;   
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.513);   
  transition: transform 0.3s ease;  
}  

section.parallax {  
  background-attachment: fixed;   
}  

/* Estilos para home */
#home {
  margin-top: 50px;
}
/* Estilos para los títulos de sección */    
h1 {  
  margin: 0; 
  color: var(--h1-color); 
  text-align: center;
  font-size: 2.5em;
  align-items: center;
} 

h2 {  
  color: var(--h2-color); 
  margin-top: 0;
  font-size: 1.7em;
  text-align: center;   
}  

h3 {  
  color: var(--h3-color); 
  margin-top: 0; 
  font-size: 1.5em;  
} 

h4 {  
  color: var(--h4-color); 
  margin-top: 0;
  font-size: 1em; 
}

/* Estilos para párrafos */  
p {  
  line-height: 1.6; 
  color: var(--p-color); 
  padding: 10px;
  background-color: var(--background-p);  
  border-radius: 15px;   
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.513); 
}  

/* Estilos para las imágenes */
.profile-image {          
  width: 50%; 
  max-width: 200px; 
  height: auto; 
  border-radius: 50%; 
  border: 5px solid var(--h2-color);
  display: flex; 
  justify-content: center;
  align-items: center;
}

.profile-image img {  
  width: 100%;   
  height: auto;  
  border-radius: 50%;  
  object-fit: cover; 
}  

.about-container {  
  display: flex;  
  flex-direction: column;
  margin: 5px;
  width: 50%;
  justify-content: space-between; 
  align-self: stretch; 
  padding: 10px;  
}  

.image1, .image3, .image5{
  width: 90%;
  height: auto;
  align-self: center;
  margin:5% auto;
}
.image2, .image4{   
  width: 30%;
  height: auto;
  display: flex;  
  justify-content: center; 
  margin: 10% auto;   
} 

/* Estilos para la navegación */  
ul {  
  list-style-type: none;
  color:var(--h4-color);  
  padding: 0; 
  margin: 0; 
  display: flex;  
  justify-content: space-around;  
}  

/* Estilos para los enlaces de navegación */  
a {  
  color: #0cfac386;   
  text-decoration: none; 
  transition: color 0.3s ease, transform 0.3s ease;   
}  

/* Efecto de hover para los enlaces */  
a:hover {  
  color: var(--icons-color);
  transform: scale(1.1); 
}  

/* Estilo de proyectos */ 

.projects{
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
  margin: -10px;
}

.project-container {   
  margin: 10px; 
  flex: 1 1 300px;  
  border-radius: 10px;  
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease; 
} 

.project-container:hover {  
  transform: translateY(-5px);  
}  

/* Estilo de las imágenes de los proyectos */  
.project-image {  
  width: 50%; 
  height: auto;   
  border-radius: 10px;
}    

/* Estilo para los enlaces de proyección */  
.project-container a {  
  color: var(--h3-color);  
  text-decoration: none; 
  display: block;  
  text-align: center;   
  padding: 10px; 
  border-radius: 5px; 
  background-color: rgba(255, 255, 255, 0.2);  
  transition: background-color 0.3s ease; 
}  

/* Estilo de hover para los enlaces */  
.project-container a:hover {  
  background-color: rgba(255, 255, 255, 0.4);  
  color: var(--h4-color);  
}  

/* Estilos de los iconos en el contacto */  
.icon {  
  margin-right: 8px;
  color: var(--icons-color);  
} 

/* Estilos para el footer */  
footer {  
  background-color: var(--background-footer);  
  color: var(--p-color);   
  padding: 5px 0;  
  margin-top: auto;  
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}  
.logo {  
  width: 50px;   
  height: auto;      
  margin: 0 10px;
  justify-content:flex-start;
} 

.h5 {  
  color:#fff; 
  font-size: 1.2em;  
}

/* Ajustes para pantallas pequeñas */  
@media (max-width: 768px) {  
  body {  
      padding: 0;  
  }  

  section {  
      margin: 10px 0;   
      padding: 20px;   
  }  

  #home {  
      width: 100%;  
      flex-direction: column; 
      align-items: center; 
  }  

  .profile-image {  
      margin: 25%;  
      width: auto;
      height: auto;
      max-width: 80%;
      border: 2px solid var(--h2-color);
      display: block; 
  }    
  
  #about {
      margin: 0 auto; 
      width: 95%; 
      flex-direction:column;
  } 
  
  .about-container {    
      flex-direction: row; 
      justify-content:space-between;
      align-items: center;
  }
  .image1, .image2, .image3, .image4, .image5 {  
    width: 20%;   
    height: auto;      
    margin: 5%;
}  

  h1 {  
      font-size: 6vw;   
  }  

  h2 {  
      font-size: 5vw;   
  }  

  h3 {  
      font-size: 4vw;  
  }  

  h4 {  
      font-size: 3vw; 
  }  

  .h5 {  
    font-size: 1em;  
}
  
  p {  
      font-size: 3.5vw;  
  }  

}  